<style>
  .solar-planet__container {
    width: 10%;
    height: 100%;
  }
</style>

<script type="module">
  const AVAILABLE_ATTRIBUTES = ['name']
  class SolarPlanetComponent extends HTMLElement {
    constructor(cfg) {
      super()

      let attributes = {name: 'Earth'}
      if (cfg) attributes = cfg.attributes

      this.props = attributes
      for (let i = 0; i < this.attributes.length; i++) {
        const attr = this.attributes[i]
        if (AVAILABLE_ATTRIBUTES.includes(attr.name.toLowerCase())) {
          this.props[attr.name] = attr.value
        }
      }

      this.render()
      console.log(`PLANET ${this.props.name} CREATED`)
    }

    connectedCallback() {
      console.log(`PLANET ${this.props.name} CONNECTED`)
    }

    disconnectedCallback() {
      console.log(`PLANET ${this.props.name} DISCONNECTED`)
    }

    render() {
      this.innerHTML = `
        <div class="solar-planet__container">
          <div></div>
          <div>
            <span>${this.props.name}</span>
          </div>
        </div>
      `

      console.log(`PLANET ${this.props.name} RENDERED`)
    }

    static get observedAttributes() {
      return AVAILABLE_ATTRIBUTES
    }

    attributeChangedCallback(attr, oldValue, newValue) {
      this.props[attr] = newValue
      this.render()
    }
  }

  window.customElements.define('solar-planet', SolarPlanetComponent)
</script>
