<style>
  .hello-world__container {
    color: red;
  }
</style>

<script>
  const AVAILABLE_ATTRIBUTES = ['name']
  class SolarPlanetComponent extends HTMLElement {
    constructor(cfg) {
      super()

      let attributes = {name: 'Earth'}
      if (cfg) attributes = cfg.attributes

      this.props = attributes
      for (let i = 0; i < this.attributes.length; i++) {
        const attr = this.attributes[i]
        if (AVAILABLE_ATTRIBUTES.includes(attr.name.toLowerCase())) {
          this.props[attr.name] = attr.value
        }
      }
      this.render()
      console.log(`PLANET ${this.props.name} CONNECTED`)
    }

    disconnectedCallback() {
      console.log('HELLO WORLD DISCONNECTED')
    }

    render() {
      this.innerHTML = `
          <div class="hello-world__container">Hello from ${this.props.name}!</div>
        `
    }

    static get observedAttributes() {
      return AVAILABLE_ATTRIBUTES
    }

    attributeChangedCallback(attr, oldValue, newValue) {
      this.props[attr] = newValue
      this.render()
    }
  }

  window.customElements.define('solar-planet', SolarPlanetComponent)
</script>
